---
import { getCollection, render } from "astro:content";
import Layout from '@layouts/Layout.astro';
import LocationsNav from '@components/LocationsNav.astro';

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const pages = await getCollection('themes');
  return pages.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Layout hideHeader={ false } title={ entry.data.title } description={ entry.data.description }>
  <LocationsNav current={ entry } />

  <header style={ `background-color: ${entry.data.color}` }>
    <div class="container max-w-[52rem] mx-auto 2xl:max-w-[68rem] py-14 px-4">
      <h1 class="font-serif text-6xl text-paleyellow mb-4 w-full lg:mb-8">
        { entry.data.title }
      </h1>
      <p class="font-sans text-paleyellow text-xl leading-normal mb-4 lg:mb-8 xl:text-4xl">
        { entry.data.description }
      </p>
    </div>
  </header>

  <article class="container mx-auto px-5 py-4">
    <div id="main" class="font-serif prose prose-midnight max-w-[52rem] mx-auto mt-4 2xl:max-w-[68rem] prose-h1:text-xl prose-h1:xl:text-4xl prose-h2:text-lg prose-h2:xl:text-3xl prose-h3:text-base prose-h3:xl:text-2xl prose-h4:text-base prose-h4:xl:text-2xl prose-h5:text-base prose-h5:xl:text-2xl prose-h6:text-base prose-h6:xl:text-2xl prose-p:xl:text-xl prose-ul:xl:text-xl prose-ol:xl:text-xl">
      <Content />
    </div>

    {entry.data.objects &&
      <div id="resources">
        {entry.data.objects.map((object) => (
          <pre class="hidden">{JSON.stringify(object)}</pre>
        ))}
      </div>
    }
  </article>

  <!--
  <article class="container mx-auto px-5 py-4" v-if="page.previous_objects" id="previously-featured">
    <h2 class="text-5xl font-serif">Previously on Display</h2>
    <div>

      <object-record v-for="(object, index) in page.previous_objects" :objectInfo="object" :key="index" />

    </div>
  </article>
  -->

  <LocationsNav current={ entry } />
</Layout>
