---
import Layout from '@layouts/Layout.astro';

const title = 'Becoming Boston';
const description = 'Becoming Boston: Eight Moments in the Geography of a Changing City offers an introduction to the historical and present-day story of Boston through the collections of the Leventhal Map & Education Center.';
---

<Layout>
  <img src="https://iiif.digitalcommonwealth.org/iiif/2/commonwealth:js956k46x/232,218,6602,4095/,2000/0/default.jpg" alt="Map of changing Boston shoreline from 1895" />

  <h1>Becoming Boston: Eight Moments in the Geography of a Changing City offers an introduction to the historical and present-day story of Boston through the collections of the Leventhal Map & Education Center.</h1>
  <p>
    <a href="#">See all themes</a>
  </p>
  <p>
    <a href="#">Start at the beginning</a>
  </p>
  <p>Maps trace out the complicated history of places, and we can use them to document geography in much the same way that we can use diaries and letters to document biography. In the eight cases of this exhibition, we follow the changing spatial forms of the place we now call Boston—from before the landscape carried that name all the way through the struggles, clashes, and dreams that continue to reshape the city today. These maps don’t merely depict facts about how the city looked at different moments in its history. Instead, they invite us to contemplate how geographic forces, both natural and human, have constructed the physical and social world around us, through large and small transformations that have transpired over many centuries.</p>

  <img src="https://iiif.digitalcommonwealth.org/iiif/2/commonwealth:3f463412c/2479,2081,2087,2087/,1200/0/default.jpg" alt="Illustration of ships in Boston Harbor from a birds-eye view" />

  <h2>This exhibition follows eight themes in the historical geography of Boston. Choose one to see the objects and learn more.</h2>

  <h2>Visit the exhibition in person</h2>
  <p>Becoming Boston is on permanent display at the Leventhal Center’s gallery at the Central Library in Copley Square. Admission is free.</p>
  <a href="https://www.leventhalmap.org/visit">Information for visitors</a>
</Layout>
